// Variables are being imported from the vite.config.ts file.
@import 'css-reset';
@import 'animations';

body {
  animation: backgroundChange 120s linear infinite;
  color: $color-foreground;
  background: radial-gradient(circle, $color-background, $color-secondary);
  opacity: 1;
  background-size: 400% 100%;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
