$color-primary: #8b74b9; // Primary color for your website, used for buttons, headers, etc.
$color-secondary: #5772a0; // Secondary color for your website, used for secondary buttons, highlights, etc.
$color-background: #221e23; // Background color for your website
$color-foreground: #e9e9e9; // Foreground color for your website, used for text, icons, etc.

// Additional colors
$color-error: #e74c3c; // Error color, used for error messages, warning icons, etc.
$color-success: #27ae60; // Success color, used for success messages, success icons, etc.
$color-info: #2980b9; // Info color, used for informational messages, info icons, etc.
$color-draw: #f1c40f; // Draw color, used for drawing tools, drawing icons, etc.
$color-guess: #9b59b6; // Guess color, used for guess tools, guess icons, etc.

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-xlbold: 900;
